#spendAmount{
    padding: 10px 12px;
    background-color: #121212;
    color: #F5F5F5;
    border: 2px solid #F5F5F5;
    border-radius: 15px;
    cursor: pointer;
}
#spendAmount:hover {
    background-color: #30475E;
  }

#amount{
    padding: 10px 12px;
}

body{
    height: 300px;
    width: 300px;
    background-color: #F05454;
    color: #F5F5F5;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    line-height: 1.5rem;
}

input{
    font-family: 'Source Sans Pro', sans-serif;
}